*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-section-container{
  width: 1200px;
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* height: 100vh; */
  margin: auto;

  border:1px solid yellowgreen;
}
.top-main-section{
 display:flex;
 justify-content: space-between;
 margin-bottom: 10px;

}
.first-news{
width: 393px;
height: 382px;
border-radius:15px;
padding: 20px 17px 15px 17px;
background-color: #F6F6F6;

}
.news-header{
  font-size: 20px;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  word-wrap: break-word;
}
.news-text{
font-size: 16px;
line-height: 22px;
font-family: 'Rubik','Open Sans', sans-serif;
font-weight: 400;
color:#4A4B4C;
padding-right:13px;
margin-bottom: 15px;
margin-top: 0;
}
.flag-germany{
  width: 359px;
  height: 165px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.sign-source{
  display: flex;
  align-items:center;
}
.source-name{
font-size: 12px;
font-family: "Rubik",'Open Sans', sans-serif;
font-weight: 400;
color:#5E5F61;
margin-left: 10px;

}
.mini-sign{
 width: 20px;
 height: 20px;
}
.wheat{
  width: 359px;
  height: 165px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.car{
  width: 359px;
  height: 165px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.thirty-news{
  width: 393px;
  height: 382px;
  border-radius:15px;
  padding: 20px 16px 15px 16px;
  background-color: #F6F6F6;
}
.news-header3{
 padding-right: 20px;
}
.notification{
display: flex;
align-items:center;
width: 1050px;
height: 100px;
padding: 24px 71px 24px 29px;
margin: auto;
margin-top: 60px;
margin-bottom: 60px;
background-image: url("../img/fon.png");
}
.notification-text{
  font-size: 20px;
  line-height: 26px;
  font-family: "Rubik",'Open Sans', sans-serif;
  font-weight: 500;
  color:#000000;

}
.on{
  width: 149px;
  height: 50px;
  background-color:#F78B3B;
  color:#ffffff;
  font-size: 20px;
  line-height: 23px;
  font-family: "Rubik",'Open Sans', sans-serif;
  font-weight: 500;
  border-radius: 10px;
  margin-left: auto;
  border: none;
  cursor: pointer;
}
.section-in-the-world{
  display: flex;
  width: 100%;
  /* height: 100vh; */
  border:1px solid blue;
}
.left-main-section{
  flex-grow: 2;
  border:1px solid yellow;
}

.right-main-section{
  flex-grow: 1;
  border:1px solid green;
}
.header-main-bottom{
  font-size: 24px;
  line-height: 28px;
  font-family: "Rubik",'Open Sans', sans-serif;
  font-weight: 500;
  color:#000000;
  margin-bottom: 40px;
}
.mini-news{
  width: 797px;
  height: 205px;
  display: flex;
  padding: 20px 20px 20px 17px;
  margin-bottom: 10px;
  border-radius:15px;


  background-color:#F6F6F6;
}
.mini-news-img{
  width: 210px;
  height: 165px;
  /* flex-grow: 1; */
}
.news-header-mini{
  margin-left: 15px;
  margin-bottom: 10px;
}
.news-text2{
  margin-left: 15px;
  margin-bottom: 20px;


}
.mini-sign2{
  margin-left: 15px;
}
.source-name2{
  margin-top: 0;

}
.texts-mini-news{

}